<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
<div class="margin-top-200 margin-left page-content">
    <div class="flex">
        @RenderBody()
    </div>
</div>
</body>
</html>
